.env
discloud/
discloud/import/1740165857917/README.md
discloud/import/1740165857917/index.js
discloud/import/1740165857917/discloud.config
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/ZeroJS/CopilotIndices/17.13.441.19478/CodeChunks.db
.vs/ZeroJS/CopilotIndices/17.13.441.19478/SemanticSymbols.db
.vs/ZeroJS/v17/DocumentLayout.json
